<aside class="app-sidebar">
  <nav>
    <ul class="app-sidebar__list">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/messages" routerLinkActive="active">Messages</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
      <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
      <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul>
  </nav>
</aside>
